:root{
    --PrimaryColor: hsl(26,93%,50%);
    --HoverColor: hsl(26,90%,42%);
    --whiteColor: hsl(0,0%,100%);
    --blackColor: hsl(0,0%,18%);
    --textColor: hsl(240,1%,48%);
    --whiteColorDeam: hsl(0,0%,93%);
    --greyBg: hsl(0,0%,96%);
    --greyText: rgb(142, 142, 143);
    --inputColor: hsl(330,12%,97%);
}
.firmaUrunleri{
    padding-top: 15rem;
    .secContainer{
        .secHeader{
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;
            .textDiv{
                .secTitle{
                    padding-top: 7rem;
                    color: var(--blackColor);
                    line-height: 1.5rem;
                    padding-bottom: .5rem;
                  }
                  p{
                    font-size: 16px;
                    color: var(--textColor);
                    font-weight: 500;
                  }
            }
            .iconsDiv{
                gap: 0.5rem;
                .icon{
                    padding: .5rem;
                    background: rgb(142, 142, 143);
                    border-radius: 50%;
                    font-size: 2.5rem;
                    &:hover{
                        background: var(--blackColor);
                        color: var(--whiteColor);
                    }
                }
                .leftIcon{
                    background: var(--blackColor);
                    color: var(--whiteColor);

                }
            }
        }
        .firmaContent{
            padding: 2rem 0;
            gap: 1rem;
            .singleDestination{
                overflow: hidden;
                border-radius: 1rem;
                box-shadow: 0 2px 8px 2px rgba(178,178,178,0.334);
               .destImage{
                height: 200px;
                width: 100%;
                position: relative;
                overflow: hidden;
                 img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;

                 }
                  .overlayInfo{
                    position: absolute;
                    display: flex;
                    align-items: flex-start;
                     justify-content: center;
                     flex-direction: column;
                     background: linear-gradient(rgba(0,0,0,0.846),rgba(0,0,0,0.759));
                     padding: 0;
                     bottom: 0;
                     height:0;
                     width: 100%;
                     overflow: hidden;
                     h3{
                        color: var(--whiteColor);
                        font-weight: 600;

                     }
                     p{
                        color: var(--whiteColor);
                        opacity: .7;
                        font-size: 13px;

                     }
                     .icon{
                        position: absolute;
                        right: 10px;
                        bottom: 10px;
                        padding: .5rem;
                        background: var(--PrimaryColor);
                        font-size: 2.5rem;
                        border-radius: 50%;
                        color: var(--whiteColor);
                        border: 1px solid transparent;
                        transition: .3s ease;

                        &:hover{
                            background: var(--blackColor);
                            border: 1px solid var(--PrimaryColor);
                            color: var(--PrimaryColor);
                            
                        }
                     }
                  }
               }
               .destFooter{
                padding: 1rem;
                 .number{
                    font-size: 2rem;
                    font-weight: 700;
                    color: var(--blackColor);
                    position: relative;
                    width: max-content;
                    &::after{
                        content: '';
                        position: absolute;
                        background: var(--PrimaryColor);
                        top: 45%;
                        right:-150%;
                        height: 5px;
                        width: 45px;
                        border-radius: 1rem;

                    }
                 }
                 .destText{
                    justify-content: space-between;
                    h4{
                        color: var(--blackColor);
                        font-size: 17px;

                    }
                    h5{
                        color: var(--blackColor);
                        font-size: 15px;
                       
                    }
                   
                 }
               }
               &:hover{
                 .overlayInfo{
                    overflow: visible;
                    padding: 1rem 1.5rem;
                    height: 100%;

                 }
               }
            }
        }
    }
    .btn{
        align-items: flex-start;
        position: absolute;
        &:hover{
            background: var(--blackColor);
            color: var(--whiteColor);
        }
    }

    
}
@media screen and (min-width:480px){
    .firmaUrunleri{
        padding-top: 10rem;
   
    }
}
@media screen and (min-width:480px){
    .firmaContent{
        grid-template-columns: repeat(1,1fr);
        
    }
}
@media screen and (min-width:520px){
    .firmaContent{
        grid-template-columns: repeat(2,1fr);
        
    }
}
@media screen and (min-width:768px){
    .firmaContent{
        grid-template-columns: repeat(3,1fr);
        
    }
}
@media screen and (min-width:960px){
    .firmaContent{
        grid-template-columns: repeat(4,1fr);
        
    }
}

