:root{
    --PrimaryColor: hsl(26,93%,50%);
    --HoverColor: hsl(26,90%,42%);
    --whiteColor: hsl(0,0%,100%);
    --blackColor: hsl(0,0%,18%);
    --textColor: hsl(240,1%,48%);
    --whiteColorDeam: hsl(0,0%,93%);
    --greyBg: hsl(0,0%,96%);
    --greyText: hsl(190,190%,190%);
    --inputColor: hsl(330,12%,97%);
}
.navBarSection{
    .header{
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: transparent;
        width: 100%;
        padding: 1rem;
        z-index: 1000;
        .logoDiv{
            .logo{
                font-weight: 500;
                cursor: pointer;
                align-items: center;
                justify-content: center;
                img{
                    width: 133px;
                    height: 40px;
                }
            }
            .icon{
                color: var(--PrimaryColor);
                font-size: 25px;
                margin-right: 10px;
            }

        }
        @media screen and (max-width: 768px){
            .navBar{
                background-color: var(--greyBg);
                position: absolute;
                height: max-content;
                padding: 1rem;
                width: 100%;
                top: 0;
                left: -500%;
                box-shadow: 0 2px 4px rgba(209,209,209,0.904);
                transition: .5s ease;
                z-index: 1000;

                .navLists{
                    flex-direction: column;
                    justify-content: center;
                    width: 100%;
                    margin: auto;

                    .navItem{
                        padding: 1rem 0;
                        
                        .navLink{
                            color: var(--textColor);
                            text-decoration: none;
                            font-size: .9rem;
                            font-weight: 600;
                            &:hover{
                                color: var(--PrimaryColor);
                            }
                        }
                    }
                    .headerBtns{
                        flex-direction: column;
                        .btn{
                            margin-top: 1rem;

                            a{
                                font-weight: 600;
                                &:hover{
                                    color: var(--whiteColor);
                                }
                            }
                        }
                        .loginBtn{
                            background: none;
                            border: 1px solid var(--PrimaryColor);
                           
                            a{
                                color: var(--PrimaryColor);
                            }
                            &:hover{
                                background: var(--HoverColor);
                                a{
                                   color: var(--whiteColor);
                                }
                            }
                        }
                    }
                }
                .closeNavbar{
                    position: absolute;
                    top: 1rem;
                    right: 1.5rem;
                    color: var(--PrimaryColor);
                    &:hover .icon{
                        color: var(--HoverColor);
                    }
                }
            }
            .activeNavbar{
                left: 0;
            }
        }
        @media screen and (min-width:769px){
           
                .navBar{
                    .navLists{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: row;
                        padding-top: 10px !important;
                        height: 38px;
                        .navItem{
                            
                            .navLink{
                                
                                
                                color: var(--whiteColor);
                                padding: 0 .30rem;
                                font-size: 1.12rem;
                                text-decoration: none;
                                font-weight: 400;
                                cursor: pointer;
                                &:hover{
                                    color: var(--PrimaryColor);

                                }
                            }
                        }
                        .btn{
                            margin-left: 1rem;
                            text-decoration: none;
                            a{
                                color: var(--whiteColor);
                                font-weight: 500;
                            }
                        }
                        .loginBtn{
                            font-size: 1.14rem;
                            background: none;
                            border: 1px solid var(--PrimaryColor);
                            text-decoration: none;
                            &:hover{
                                background: var(--PrimaryColor);
                                a{
                                    text-decoration: none;
                                    color: var(--whiteColor);
                                }
                            }
                        }
                    }
                }
            
            .closeNavbar{
                display: none;
            }
            .toggleNavbar{
                display: none;
            }
            
            
          }

        @media screen and (min-width:960px){
            .logoDiv{
             .logo{
              
                     padding-left: 50px;
                
             }
            } 
             .navBar{
                 .navLists{
                     padding-right: 50px !important;
                     .navItem{
                         padding: 0 .5rem;
                         .navLink{
                            padding: 0 .40rem;
                         }
                     }
                 }
             }
         
   
         
        }
        @media screen and (min-width:1024px){
            .header{
                padding: 1rem 8.5rem !important;
            }
        }

       
       .toggleNavbar{
           .icon{
            font-size: 25px;
            color: var(--whiteColor);
            &:hover{
                color: var(--PrimaryColor);
            }
           }
       }
    }
    .activeHeader{
        background-color: rgb(179 176 173);
        
        box-shadow: 0 2px 8px 2px rgba(190, 190, 190, 0.334);
        
    }
}
